<h1>Rick and Morty Collectibles</h1>
<%= render 'shared/navbar' %> <!-- Include the navbar from a shared partial -->
<h2>About Us</h2>
<% if @about_us %>
  <p><%= @about_us.content %></p>

<% else %>
  <p>No about us content available.</p>
<% end %>
