// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Override the default color of the status tag
.status_tag {
  background: #6090DB; // Change to your desired color
}

// Override the background color of the form field
.formtastic .inputs input[type="text"],
.formtastic .inputs textarea,
.formtastic .inputs select {
  background-color: #f5f5f5; // Change to your desired background color
}

// Style the sidebar links with a different background color and text color
#sidebar {
  background-color: #333; // Change to your desired background color
  color: white; // Change to your desired text color
  a {
    color: white; // Set link color inside the sidebar
  }
}

// Add a border to the footer
#footer {
  border-top: 1px solid #ccc; // Add a border at the top of the footer
}
